{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li><a href="/programme/{{ programme_data.id }}">{{ programme_data.name }}</a></li>
  <li class="active">New Project</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Add Project</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="/add_project/{{ programme_data.id }}" method="post">
        {{ form.csrf_token }}{{form.hidden_tag()}}
        {{ render_field(form.project_name) }}
        {{ render_field(form.product_owner) }}
        {{ render_field(form.scrum_master) }}
        {{ render_field(form.project_description) }}

        <button type="submit" class="btn btn-primary">Add Project</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
