{% extends 'base.html' %}
{% block content %}


<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li><a href="/programme/{{ project_data.programme_id }}">{{ project_data.programme_name }}</a></li>
  <li><a href="/project/{{ project_data.id }}">{{ project_data.name }}</a></li>
  <li><a href="/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}">Sprint {{ sprint_data.sprint_number }}</a></li>
  <li class="active">Burndown</li>

</ol>


{% if sprint_data.sprint_rag == 'g' %}
  {% set sprint_rag = 'success' %}
  {% set sprint_rag_status = 'Green' %}
{% elif sprint_data.sprint_rag == 'a' %}
  {% set sprint_rag = 'warning' %}
  {% set sprint_rag_status = 'Amber' %}
{% elif sprint_data.sprint_rag == 'r' %}
  {% set sprint_rag = 'danger' %}
  {% set sprint_rag_status = 'Red' %}
{% else %}
  {% set sprint_rag = 'default' %}
  {% set sprint_rag_status = 'Unknown' %}
{% endif %}

<div class="panel panel-{{ sprint_rag }}">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8" style="font-size: 30px; font-weight: bold;">
      {{project_data.name}} - Sprint {{sprint_data.sprint_number}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <b>Start Date:</b> {{sprint_data.start_date}}
      </div>
      <div class="col-sm-4">
        <b>End Date:</b> {{sprint_data.end_date}}
      </div>
    </div>

  </div>


  <div class="panel-body">

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">

            <div class="row">
            <div class="col-sm-12">
              <h3 class="panel-title">Burn Down</h3>
            </div>
          </div>

          </div>
          <div class="panel-body">
            <div style="height: 400px;" class="text-center">
              <canvas id="velocitychart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>




  <script>

var opt = {
  responsive: true,
  maintainAspectRatio: false,
}


  var data = {
      labels: [{{ sprint_days_array }}],
      datasets: [
          {
              label: "Planned",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [{{ sprint_days_burndown_expected }}]
          },
          {
              label: "Actual",
              fillColor: "rgba(151,187,205,0.2)",
              strokeColor: "rgba(151,187,205,1)",
              pointColor: "rgba(151,187,205,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(151,187,205,1)",
              data: [{{ sprint_days_burndown }}]
          }
      ]

  };
  var ctx = document.getElementById("velocitychart").getContext("2d");
  var myLineChart = new Chart(ctx).Line(data, opt);


  </script>




</div>
</div>




{% endblock %}
