{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li><a href="/programme/{{ project_data.programme_id }}">{{ project_data.programme_name }}</a></li>
  <li><a href="/project/{{ project_data.id }}">{{ project_data.name }}</a></li>
  <li><a href="/project/{{ project_data.id }}/{{sprint_data.sprint_id }}">Sprint {{ sprint_data.sprint_number }}</a></li>
  <li class="active">Edit Sprint</li>

</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center>
        <h1>Edit Sprint {{ sprint_data.sprint_number }}</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form action="/project/{{ project_data.id }}/edit_sprint/{{ sprint_data.sprint_id }}" method="post">
        {{ form.csrf_token }}{{form.hidden_tag()}}


        {{ render_field(form.sprint_number) }}


        <fieldset>
          <label class="form-label" for="">Sprint Start Date <small>(Format: YYYY-MM-DD)</small></label>
            {{ form.start_date(class='form-control') }}
            {% for error in form.start_date.errors %}
                <span class="error-block" ><b>Error:</b> {{ error }}</span>
            {% endfor %}
        </fieldset>
        <fieldset>
          <label class="form-label" for="">Sprint End Date <small>(Format: YYYY-MM-DD)</small></label>
            {{ form.end_date(class='form-control') }}
            {% for error in form.end_date.errors %}
                <span class="error-block" ><b>Error:</b> {{ error }}</span>
            {% endfor %}
        </fieldset>

        {{ render_field(form.burndown_type) }}

        {{ render_field(form.sprint_rag) }}


        <div class="row">
          <div class="col-md-6 ">
            <button type="submit" class="btn btn-primary">Update Sprint</button>
          </div>
          <div class="col-md-6 ">
            <button type="button" class="btn btn-danger pull-right" onclick="var r = confirm('Are you sure you want to delete the sprint?');if (r == true) {window.location.href = '/delete/sprint/{{ project_data.id }}/{{ sprint_data.sprint_id }}'};">Delete Sprint</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
