{% extends 'base.html' %}
{% block content %}

<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li class="active">{{ data.name }}</li>
</ol>


    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="row">
        <div class="col-sm-7" style="font-size: 30px; font-weight: bold;">
        {{ data.name }}
        </div>
        <div class="col-sm-5">
          {% if current_user.is_authenticated() %}
          <a href="/add_project/{{ data.id }}" class="btn btn-success pull-right" style="margin:5px"><i class="fa fa-plus"></i> New Project</a>
          <a href="/edit_programme/{{data.id}}" class="btn btn-info pull-right" style="margin:5px"><i class="fa fa-pencil-square-o"></i> Edit Programme</a>
          {% endif %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <b>Programme Manager:</b> {{ data.programme_manager }}
        </div>
        <div class="col-sm-4">
          <b>Service Manager:</b>  {{ data.service_manager }}
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div class="row">
        {% for project_field in data.projects %}
        <div class="col-sm-4">
          {% if project_field.last_rag == 'g' %}
            {% set project_rag = 'success' %}
          {% elif project_field.last_rag == 'a' %}
            {% set project_rag = 'warning' %}
          {% elif project_field.last_rag == 'r' %}
            {% set project_rag = 'danger' %}
          {% else %}
            {% set project_rag = 'default' %}
          {% endif %}
          <div class="panel panel-{{ project_rag }}">
            <div class="panel-heading">
              <h3 class="panel-title">{{project_field.name}}</h3>
            </div>
            <div class="panel-body">
              <b>Description:</b> {{project_field.project_description}}<br/>
              <a href="/project/{{project_field.id}}">View Sprint Reports</a><br />
              <b>Product Owner:</b>  {{project_field.product_owner}}<br />
              <b>Scrum Master:</b>  {{project_field.scrum_master}}<br />
              <b>Current Sprint:</b>  {{project_field.last_sprint}}<br />
              <b>Sprint End Date:</b>  {{project_field.last_end_date}}<br />

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


{% endblock %}
