{% extends 'base.html' %}
{% block content %}


<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li><a href="/programme/{{ project_data.programme_id }}">{{ project_data.programme_name }}</a></li>
  <li class="active">{{ project_data.name }}</li>
</ol>


{% if project_data.last_rag == 'g' %}
  {% set project_rag = 'success' %}
  {% set project_rag_status = 'Green' %}
{% elif project_data.last_rag == 'a' %}
  {% set project_rag = 'warning' %}
  {% set project_rag_status = 'Amber' %}
{% elif project_data.last_rag == 'r' %}
  {% set project_rag = 'danger' %}
  {% set project_rag_status = 'Red' %}
{% else %}
  {% set project_rag = 'default' %}
  {% set project_rag_status = 'Unknown' %}
{% endif %}

<div class="panel panel-{{ project_rag }}">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8" style="font-size: 30px; font-weight: bold;">
      {{project_data.name}}
      </div>
      <div class="col-sm-4">
        {% if current_user.is_authenticated() %}
        <a href="/project/{{project_data.id}}/add_sprint" class="btn btn-success pull-right" style="margin:5px"><i class="fa fa-plus"></i> Add New Sprint</a>
        <a href="/edit_project/{{project_data.id}}" class="btn btn-info pull-right" style="margin:5px"><i class="fa fa-pencil-square-o"></i> Edit Project</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <b>Product Owner:</b> {{project_data.product_owner}}
      </div>
      <div class="col-sm-3">
        <b>Scrum Master:</b>  {{project_data.scrum_master}}
      </div>
      <div class="col-sm-3">
        <b>Delivery Manager:</b>  {{project_data.delivery_manager}}
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-sm-8" style="height: 380px;">
        <div style="height: 300px;" class="text-center">
  			  <h3>Velocity</h3>
  				<canvas id="velocitychart"></canvas>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Project Information</h3>
          </div>
          <div class="panel-body">
            <div style="margin-bottom:5px"><b>Description:</b> {{project_data.project_description}}</div>
            {% if project_data.last_sprint_id != '' %}
              <div style="margin-bottom:5px"><b>Current Sprint No:</b> {{project_data.last_sprint}}</div>
              <div style="margin-bottom:5px"><b>Sprint Ends:</b> {{project_data.last_end_date}}</div>
              <div style="margin-bottom:5px"><b>Current Sprint Status:</b> {{project_rag_status}}</div>
              {% if project_data.scrum_tool_link != '' %}
                <div style="margin-bottom:5px"><b>Scrum Tool:</b> <a href="{{project_data.scrum_tool_link}}">Click Here</a></div>
              {% endif %}

            {% endif %}

          </div>
        </div>
        {% if project_data.last_sprint_id != '' %}
          <a href="/project/{{project_data.id}}/{{project_data.last_sprint_id}}" class="btn btn-info pull-right" style="margin-bottom:10px">View Current Sprint Report</a>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="row">
              <div class="col-sm-6">

                <h3 class="panel-title">Sprint Summary</h3>
              </div>
              <div class="col-sm-6">
                <div class="pull-right">
                  <b>Average Points:</b> {{project_data.average_points}}
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body" style="padding:5px">
            <table class="table table-striped" >
              <thead>
                <tr>
                  <th>Sprint No</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Planned Points</th>
                  <th>Actual Points</th>
                  <th>Sprint RAG</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
              {% for sprint_field in project_data.sprint_array[::-1] %}
                {% if sprint_field.sprint_rag == 'g' %}
                  {% set sprint_rag = 'Green' %}
                  {% set tr_rag_color = 'success' %}
                {% elif sprint_field.sprint_rag == 'a' %}
                  {% set sprint_rag = 'Amber' %}
                  {% set tr_rag_color = 'warning' %}
                {% elif sprint_field.sprint_rag == 'r' %}
                  {% set sprint_rag = 'Red' %}
                  {% set tr_rag_color = 'danger' %}
                {% else %}
                  {% set sprint_rag = 'Unknown' %}
                  {% set tr_rag_color = '' %}
                {% endif %}
                <tr class="{{ tr_rag_color }}">
                  <td>{{ sprint_field.sprint_number }}</td>
                  <td>{{ sprint_field.start_date }}</td>
                  <td>{{ sprint_field.end_date }}</td>
                  <td>{{ sprint_field.agreed_points }}</td>
                  <td>{{ sprint_field.delivered_points }}</td>
                  <td>{{ sprint_rag }}</td>
                  <td><a href="/project/{{project_data.id}}/{{sprint_field.id}}">Details</a></td>
                </tr>
              {% endfor  %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>


    Array.max = function( array ){
        return Math.max.apply( Math, array );
    };

var opt = {
  responsive: true,
  maintainAspectRatio: false,
  scaleOverride: true,
  scaleStepWidth: Math.ceil((Array.max([{{ velocity_value }}]) * 1.05) / 5),
  scaleStartValue: 0,
  scaleSteps: 5,
}

  var data = {
      labels: [{{ velocity_key }}],
      datasets: [
          {
              label: "Planned",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [{{ velocity_value }}]
          }
      ]
  };
  var ctx = document.getElementById("velocitychart").getContext("2d");
  var myLineChart = new Chart(ctx).Line(data, opt);



  </script>




</div>
</div>




{% endblock %}
