{% extends 'base.html' %}
{% block content %}


<ol class="breadcrumb">
  <li><a href="/">Scrum Reporting</a></li>
  <li><a href="/programme/{{ project_data.programme_id }}">{{ project_data.programme_name }}</a></li>
  <li><a href="/project/{{ project_data.id }}">{{ project_data.name }}</a></li>
  <li><a href="/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}">Sprint {{ sprint_data.sprint_number }}</a></li>
  <li class="active">Sprint Availability</li>
</ol>


{% if sprint_data.sprint_rag == 'g' %}
  {% set sprint_rag = 'success' %}
  {% set sprint_rag_status = 'Green' %}
{% elif sprint_data.sprint_rag == 'a' %}
  {% set sprint_rag = 'warning' %}
  {% set sprint_rag_status = 'Amber' %}
{% elif sprint_data.sprint_rag == 'r' %}
  {% set sprint_rag = 'danger' %}
  {% set sprint_rag_status = 'Red' %}
{% else %}
  {% set sprint_rag = 'default' %}
  {% set sprint_rag_status = 'Unknown' %}
{% endif %}

<div class="panel panel-{{ sprint_rag }}">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-8" style="font-size: 30px; font-weight: bold;">
      {{project_data.name}} - Sprint {{sprint_data.sprint_number}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <b>Start Date:</b> {{sprint_data.start_date}}
      </div>
      <div class="col-sm-4">
        <b>End Date:</b> {{sprint_data.end_date}}
      </div>
    </div>

  </div>


  <div class="panel-body">
    {% if current_sprint == True %}
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-success text-center" role="alert"><b>This sprint is currently in progress</b></div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">

          <div class="row">
          <div class="col-sm-8">

            <h3 class="panel-title">Sprint Availability</h3>
          </div>

          <div class="col-sm-4">
            {% if current_user.is_authenticated() %}
            <a href="/project/{{project_data.id}}/edit_sprint/{{sprint_data.sprint_id}}/daytypes" class="btn btn-xs btn-info pull-right"><i class="fa fa-pencil-square-o"></i> Edit Day Types</a>
            {% endif %}
          </div>
        </div>


          </div>
          <div class="panel-body">

            <table class="table table-striped">
                  <thead>
                    <tr>
                      <th></th>
                      {% for n in sprint_days %}
                      <th class="text-center">{{n}}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody id="persons_tables">

                  </tbody>
                </table>
                <center>
                <div id="teamkey">


                </div>
              </center>
                <div class="row">

                  <div class="col-sm-6">


                  {% if current_user.is_authenticated() %}

                  <label for="exampleInputPassword1">Add New Person</label>
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text" class="form-control"  id="personame" placeholder="Person's Name" onkeypress="return add_person_enter(event)">
                    </div>
                    <button type="button" class="btn btn-default" onclick="add_person()">Add Person</button>
                  </form>
                  {% endif %}

                </div>
                <div class="col-sm-6">

                  <h3 class="pull-right">Total Availablity: <span id="daysavailable"></span></h3>


                </div>
                </div>


          </div>
        </div>
      </div>
    </div>






  </div>




  <script>

  </script>




</div>
</div>

<script>


var person_status = [];
person_status.push({'id': 0, 'status': 'U', 'fullname': 'Unknown', 'day': 0, 'order': '1', 'color': 'ecf0f1'});
{% for daytype in daytype_data %}
person_status.push({'id': "{{ daytype.id }}" , 'fullname': "{{daytype.daytype_name}}", 'status': "{{ daytype.daytype_status}}", 'day': "{{daytype.daytype_day}}", 'order': "{{daytype.daytype_order}}", 'color': "{{daytype.daytype_color}}"});

{% endfor %}

//person_status.push({'id': 5, 'status': '1/2', 'day': 0.5, 'order': '3', 'color': 'f39c12'});
//person_status.push({'id': 6, 'status': 'F', 'day': 1, 'order': '2', 'color': '27ae60'});
//person_status.push({'id': 7, 'status': 'L', 'day': 0, 'order': '5', 'color': 'FFFFFF'});
//person_status.push({'id': 8, 'status': 'PB', 'day': 1, 'order': '4', 'color': '3498db'});
//person_status.push({'id': 9, 'status': 'Tr', 'day': 0, 'order': '6', 'color': '9b59b6'});

var person_status_sorted = person_status.slice();
person_status_sorted.sort(function(a,b){return a.order > b.order})

var person_status_id = [];

for (var i in person_status) {
  person_status_id[person_status[i].id] = {'status': person_status[i].status, 'day': person_status[i].day, 'color': person_status[i].color}
}

for (var i in person_status_sorted) {

  keyhtml = '<div style="display: inline;padding-top:5px;vertical-align: middle;width: 100%; margin:3px;margin-left: 15px"><div style="height:15px;width:15px;background: #' + person_status_sorted[i].color + ';display: inline-block;border:1px solid #888888; margin-right:2px"></div>' +
    '<span style="vertical-align: top;">' + person_status_sorted[i].fullname + '</span></div>'
    $( "#teamkey" ).append( keyhtml );

}



{% if current_user.is_authenticated() %}

function add_person_enter(e) {
  console.log(e.keyCode);
    if (e.keyCode == 13) {
        add_person();
        return false;
    }
}

function add_person() {
  if ($( "#personame" ).val() != '') {
    $.ajax({
      type: "POST",
      url: '/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}/team/add_person',
      data: {'person_name': $( "#personame" ).val()},
    }).done(function( msg ) {
      $('#personame').val("");
      update_json();
    });
  }
}

function remove_user(user_id, name) {

  var r = confirm("Are you sure you want to remove " + name.replace('quotequote', '\'') + "?");

  if (r == true) {
    $.ajax({
      type: "POST",
      url: '/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}/team/remove_person',
      data: {'person_id': user_id},
    }).done(function( msg ) {
      update_json();
    });
  }

}


function update_day(person_id, day_id) {

  current_id = $('#person_day' + person_id + '-' + day_id).val();

  array_id = 0;

  for (var i in person_status_sorted) {
    if (person_status_sorted[i].id == current_id) {
      array_id = parseInt(i) + 1;
    }
  }

  if(typeof person_status_sorted[array_id] === 'undefined') {
    array_id = 0;
  }

  $('#person_day' + person_id + '-' + day_id).val(person_status_sorted[array_id].id)
  $('#person_day' + person_id + '-' + day_id).text(person_status_sorted[array_id].status)
  $('#person_day' + person_id + '-' + day_id).css( "background-color", (person_status_sorted[array_id].color));

  $.ajax({
    type: "POST",
    url: '/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}/team/update_status/' + day_id,
    data: {'sprint_daystatus': person_status_sorted[array_id].id},
  })
  .done(function( msg ) {
    update_json('#person_day' + person_id + '-' + day_id);
  })
  ;

}



{% endif %}





function update_json(optionalArg) {

  if (typeof optionalArg === 'undefined') { optionalArg = ''; }

  console.log('optionalArg = ' + optionalArg)

  $.ajax({
    method: "GET",
    url: '/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}/json'
  })
    .done(function( msg ) {

      sprint_data = jQuery.parseJSON( msg );

      for (var key in sprint_data.sprintpeople_array) {

          if(! $('#person' + sprint_data.sprintpeople_array[key].id).length )         // use this if you are using id to check
          {
            var data_structure = '<tr class="person_row" id="person' + sprint_data.sprintpeople_array[key].id + '">' +
               '<th scope="row" class="user" style="width:220px">' + sprint_data.sprintpeople_array[key].person_name +
                {% if current_user.is_authenticated() %}
                '<i class="fa fa-times remove_user_icon" onclick="remove_user(' + sprint_data.sprintpeople_array[key].id + ', \'' + sprint_data.sprintpeople_array[key].person_name.replace('\'', 'quotequote') + '\')"></i>' +
                {% endif %}
              '</th>'
              for (var key2 in sprint_data.sprintpeople_array[key].sprint_record) {
                data_structure = data_structure +  '<td class="text-center person_day" id="person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id + '" onclick="update_day(' + sprint_data.sprintpeople_array[key].id + ', ' + sprint_data.sprintpeople_array[key].sprint_record[key2].id + ')" value="0" style="background-color:' + person_status_id[0].color + ';cursor: pointer; font-weight: bold">' + person_status_id[0].status + '</td>'
              }
              data_structure = data_structure +'</tr>'

            $( "#persons_tables" ).append( data_structure );

          }

          for (var key2 in sprint_data.sprintpeople_array[key].sprint_record) {
            if ($('#person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id).text() != sprint_data.sprintpeople_array[key].sprint_record[key2].sprint_daystatus) {


              if(typeof person_status_id[sprint_data.sprintpeople_array[key].sprint_record[key2].sprint_daystatus] !== 'undefined') {


                if ('#person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id != optionalArg) {
                  $('#person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id).val(sprint_data.sprintpeople_array[key].sprint_record[key2].sprint_daystatus)
                  $('#person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id).text(person_status_id[sprint_data.sprintpeople_array[key].sprint_record[key2].sprint_daystatus].status)
                  $('#person_day' + sprint_data.sprintpeople_array[key].id + '-' + sprint_data.sprintpeople_array[key].sprint_record[key2].id).css( "background-color", (person_status_id[sprint_data.sprintpeople_array[key].sprint_record[key2].sprint_daystatus].color));
                }


              }
            }
          }


      }

      $( ".person_row" ).each(function( index ) {
        found_person = false;
        for (var key in sprint_data.sprintpeople_array) {
          if (('person' + sprint_data.sprintpeople_array[key].id)  ==  $( this ).attr('id').toString()) {
              found_person = true;
            }
        }
        if (found_person == false) {
          $(this).fadeOut(300, function() { $(this).remove(); });
        }
      });

      amount_of_days = 0
      $( ".person_day" ).each(function( index ) {

        amount_of_days = amount_of_days + parseInt(person_status_id[$(this).val()].day)



      });



      $( "#daysavailable" ).html( amount_of_days + ' days' );


      if (sprint_data.sprint_teamdays != amount_of_days) {
          $.ajax({
            type: "POST",
            url: '/project/{{ project_data.id }}/{{ sprint_data.sprint_id }}/team/update_team_availability',
            data: {'amount_of_days': amount_of_days},
          });

      }


    });

}




update_json();

window.setInterval(function(){
  update_json();
}, 5000);
</script>

{% endblock %}
